
# Rename this file to ".env" and fill parameters with value! (or decomment values)!

# api:
HOST= #'0.0.0.0'
PORT= #'6969'

# database:
DB_NAME= #'spotify_db'
DB_HOST= #'127.0.0.1'
DB_PORT= #'3306'
DB_USER= #'root'
DB_PASS= #'password'
DB_ROOT_PASS= #'password'